<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Catálogo de Libros - Biblioteca</title>
  <link rel="stylesheet" th:href="@{/css/stylescat.css}" />
</head>
<body>
  <header>
    <h1>Biblioteca</h1>
    <nav>
      <div class="dropdown">
        <a href="#">Categoría</a>
      </div>
      <a href="/catalogo">Catálogo</a>
      <a href="/catalogo/contacto">Contacto</a>
      <form id="logoutForm" th:action="@{/logout}" method="post" style="display:inline;">
        <button type="submit" style="all: unset; cursor: pointer;">Cerrar Sesión</button>
      </form>

    </nav>
        <div class="dropdown-content">
          <a href="/catalogo?categoria=Ficción">Ficción</a>
          <a href="/catalogo?categoria=Clásicos">Clásicos</a>
          <a href="/catalogo?categoria=Infantil">Infantil</a>
          <a href="/catalogo?categoria=Romántico">Romántico</a>
          <a href="/catalogo?categoria=Misterio">Misterio</a>
          <a href="/catalogo?categoria=Thriller">Thriller</a>
          <a href="/catalogo?categoria=Fantasía">Fantasía</a>
          <a href="/catalogo?categoria=Ciencia ficción">Ciencia ficción</a>

        </div>
  </header>
<main class="catalogo">
  <h2>Contacto</h2>
  <h3>Comuniquese con el administrador por correco electronico: admin@biblioteca.cl</h3>
</main>
  <script>
  document.addEventListener('DOMContentLoaded', () => {
    const linkCategoria = document.querySelector('.dropdown > a');
    const menu = document.querySelector('.dropdown-content');

    linkCategoria.addEventListener('click', e => {
      e.preventDefault();
      menu.classList.toggle('show');
    });

    // Opcional: clic fuera para cerrar el menú
    document.addEventListener('click', e => {
      if (!linkCategoria.contains(e.target) && !menu.contains(e.target)) {
        menu.classList.remove('show');
      }
    });
  });
</script>

</body>
</html>
